


/* -------------------------------- */

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.i-name {
  color: red;
}
.nav-item:hover .i-name {
  color: white;
  transition: color 0.3s ease;
}

.ms-name {
  color: white;
}
.nav-item:hover .ms-name {
  color: red;
  transition: color 1.5s ease;
}

/*  */

.nav-animate::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FF3800;
  color: #FF3800;
  opacity: 0;
  transition: opacity 0.5s ease, width 1s ease-out;
}

.nav-animate:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-animate:hover {
  padding-left: 10px;
}

.dropdown-item:hover {
  background-color: #FF3800;
  transition: background-color 0.3s ease;
  color: white;
}






  