.modal.show {
    display: block;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  
  .modal.show.modal-visible {
    opacity: 1;
    transform: scale(1);
  }
  
  .modal-dialog.modal-lg-custom {
    max-width: 40%;
    margin-top: 9%;
  }
  
  .modal-dialog.modal-xl-custom {
    max-width: 70%;
    margin-top: 9%;
  }

  .modal-content-sch-custom {
    min-height: 300px;
  }

  .modal-dialog {
    margin-top: 9%;
  }
  
  .modal-header {
    padding-top: 0.5rem; 
    padding-bottom: 0.9rem; 
    height: auto; 
  }
  
  
  .modal-header .btn-danger {
    padding: 0.5rem 0.7rem;
    font-size: 1rem; 
    line-height: 1; 
  }

  .subclass{
    margin-top: 12rem ;
  }

  .modal-visible {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .text-center{
    text-align: center !important;
  }

  .scheduledate{
    margin-top: 17px !important;
  }

  .mg-top-10{
    margin-top: 10px;
  }

  .mg-down-10{
    margin-bottom: 10px;
  }